.fonteGeral{
    font-family: inter;
}

.corTexto{
    color: aliceblue;
}

body{
        
    margin: 0px;
    margin-left: 0.01%;
    margin-right: 0.01%;

    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%),linear-gradient(0deg, #303030, #303030),linear-gradient(0deg, #BABABA, #BABABA);
    background-repeat: no-repeat;
   
}

.menuNavegacao{
    width:auto ;
    height:100px ;
   background-color: #303030;
  
    
    text-align: left;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    

}
.menuNavegacao a{
font-size: 25px;
margin: 2px;
text-decoration: none;
padding: 5px;
color: aliceblue;

}
.menuNavegacao a:hover{
    color: #797575;
}

.menuNavegacao button{
  
    margin: 0px;
   
   
    background-color: #0C70F2;
    width:110px ;
    height: 39px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    box-shadow: 3px 2px 4px rgb(12, 112,242, 100);
    cursor: pointer;
    
 
}
#opcoes{/*div que aloca as opçoes*/
   
    min-width: fit-content;
    width:auto  ;
    height: 39px;
    margin-left: 2%;
}
#botao{/*uma div para tratar o botao .. usado para nao bagunçar tanto quando minimizado a pagina no extremo*/
      margin-right: 5%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.descritivo{
    text-align: center;
    font-size: 40px;
    
   
}
.descritivo span{
    background-color: #303030;
}
.GrupoForm{/*grupo de div dentro do form*/
    
    
    
    text-align: left;
    width: 630px;
    font-family: 'inter';
    
}

.GrupoForm input{
    
   
    width: 100%;
    height: 56px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    
}
.GrupoForm input[type="text"]{
    font-size: 25px;
}
.GrupoForm input[type="email"]{
    font-size: 25px;
}
.GrupoForm input[type="tel"]{
    font-size: 25px;
}

.GrupoForm input::placeholder{
    
   font-family: 'inter';
   font-size: 25px;
   color: #8f8888;
   padding-left: 3%;
    
}



button{
    margin-top: 10%;
    width: 630px;
    height: 56px;
    background-color:  #0C70F2E5;
    border-radius: 10px;
    font-size: 32px;
    color: #FFFFFF;
    
    
}


footer{
    
    width:100%;
    height:520px;
    background-color: #0C70F2E5;
    margin-top: 10%;
    color: #FFFFFF;
    

}

.rodape{
    display: flex;
    
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
   

}
.colunasRodape{
  
    font-size: 25px;
    font-family: 'inter';
    width: max-content;
    height: 60%;
    margin-left: 5%;
    padding-right: 10px;

    
   
}
.colunasRodape a{
     text-decoration: none;   
    color: #FFFFFF; 

}
.colunasRodape li{
   list-style-type: none;
}
.colunasRodape h1{
    
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    background-color: #303030;
   
 }

.termos{
  font-size: 25px;
  padding: 10px;
  background-color: #0C70F2;
 
  text-align: center;
  font-size: 25px;
  font-family: 'inter';
  color: #FFFFFF;
 
  

}






.pai{
    display: block;

    
    width: 630px;
    height: 80px;
    margin-bottom: 20px;
    margin-top: 20px;

}

#filho{
    
    width: 100%;
    height: 30px;
    font-size: 25px;
    text-align: left;

}

.tituloPai{
    font-family: 'inter';
    margin-bottom: 10px;
    font-size: 36px;
    text-align: left;
    
}

#filho input[type="checkbox"]{
margin-right: 20px;
margin-left: 20px;
width: 30px;
height: 30px;

}
















