.fonteGeral{
    font-family: inter;
}

.corTexto{
    color: aliceblue;
}

body{
    
margin: 0px;
margin-left: 0.01%;
margin-right: 0.010%;
background-color: rgb(246, 248, 250);

}
.menuNavegacao{
    width:auto ;
    height:100px ;
   background-color: #303030;
  
    
    text-align: left;
    display: flex;
    position: relative;
    align-items: center;
  justify-content: space-between;
    

}
.menuNavegacao a{
font-size: 25px;
margin: 2px;
text-decoration: none;
padding: 5px;
color: aliceblue;

}
.menuNavegacao a:hover{
    color: #797575;
}

.menuNavegacao button{
  
    margin: 0px;
   
   
    background-color: #0C70F2;
    width:80px ;
    height: 39px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    box-shadow: 3px 2px 4px rgb(12, 112,242, 100);
    cursor: pointer;
    
 
}
#opcoes{/*div que aloca as opçoes*/
   
    min-width: fit-content;
    width:auto  ;
    height: 39px;
    margin-left: 2%;
}
#botao{
      margin-right: 5%;
}